<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="false" scanPeriod="30 seconds">
	<property name="logPath" value="logs" />

	<appender name="APP-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${logPath}/eplat.log</file>
		<encoder>
			<pattern>%date %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="LOGGER" level="DEBUG" additivity="false">
		<appender-ref ref="APP-FILE" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="APP-FILE" />
	</root>
</configuration>
