<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>12</title>
<link rel="stylesheet" type="text/css" href="../spt/default.css"/>
<link rel="stylesheet" type="text/css" href="../spt/MainView.css"/>
<style type="text/css">
html, body {
	text-align: center;
	vertical-align: top;
}
</style>
<script type="text/javascript" src="../spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="../swf/swfobject.js"></script>
<script type="text/javascript" src="../spt/jump.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	swfobject.registerObject("FlashID");
	// defaultStr = A4.5 B4.0 C120 D90 E30 F340 G1 H60 I0.5 J0.5 K33 L5 M0.04 N5.0 O0.1 P0.05 Q2.5 R0.35 S220
	
	// setFun(param1:String)   "OK"-defaultStr, 其他字符串
	// txtFun()
	// getStrFun()
	// showMarker	其他字符串
});

// setArgs("OK");
setArgs("A2.01B98C4.50D16E1.5F25G16");

function setArgs(args) {
	var flash = thisMovie("FlashID");
	try {
		// flash.setFun(args);
		flash.showMarker(args);
	} catch(e) {
		setTimeout(function() {
			setArgs(args);
		}, 200);
	}
	
	flash.getStrFun();
}

/**
 * getStrFun()-事件
 */
function onCommand(cmd, args) {
	if (cmd == "jia") {
		// alert(args);
	}
}
</script>
<script language="VBScript">
Sub FlashID_FSCommand(ByVal cmd, ByVal args)
	Call onCommand(cmd, args)
end Sub
</script>
</head>

<body>
<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="300">
  <param name="movie" value="swf/12.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="opaque" />
  <param name="swfversion" value="8.0.35.0" />
  <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
  <param name="expressinstall" value="../swf/expressInstall.swf" />
  <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="swf/12.swf" width="400" height="300">
    <!--<![endif]-->
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="8.0.35.0" />
    <param name="expressinstall" value="../swf/expressInstall.swf" />
    <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
    <div>
      <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
    </div>
    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
</body>
</html>
