body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-weight:bold;
	color:white;
	mso-color-index:0;
	font-size:209%;
	mso-line-spacing:"80 0 0";}
.BB
	{mso-special-format:bulletu;
	color:#003399;
	font-family:"Monotype Sorts";}
.B
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-margin-left-alt:255;}
.B1B
	{mso-special-format:bullet\2022;
	color:black;
	mso-color-index:1;}
.B1
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-margin-left-alt:539;
	mso-text-indent-alt:432;}
.B2B
	{mso-special-format:bulletC;
	color:#003399;}
.B2
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-margin-left-alt:866;
	mso-text-indent-alt:684;}
.B3B
	{mso-special-format:bullet\2022;
	color:#003399;}
.B3
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-margin-left-alt:1082;
	mso-text-indent-alt:938;}
.B4B
	{mso-special-format:bullet\2022;
	color:#003399;}
.B4
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:152%;
	mso-margin-left-alt:1298;
	mso-text-indent-alt:1154;}
.NB
	{mso-special-format:bullet\2022;}
.N
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-margin-left-alt:75;}
.N1B
	{mso-special-format:bulletC;}
.N1
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-margin-left-alt:216;
	mso-text-indent-alt:147;}
.N2B
	{mso-special-format:bullet\2022;}
.N2
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N3B
	{mso-special-format:bullet\2022;}
.N3
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N4N
	{mso-special-format:bullet\2022;}
.N4
	{text-align:left;
	font-family:宋体;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;}
.O1B
	{mso-special-format:nobullet\2022;}
.O1
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;}
.O2B
	{mso-special-format:nobullet\2022;}
.O2
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;}
.O3B
	{mso-special-format:nobullet\2022;}
.O3
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;}
.O4B
	{mso-special-format:nobullet\2022;}
.O4
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;}
.CBB
	{mso-special-format:nobulletu;
	color:#003399;
	font-family:"Monotype Sorts";}
.CB
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";}
.CB1B
	{mso-special-format:nobullet\2022;
	color:black;
	mso-color-index:1;}
.CB1
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:152%;
	mso-text-indent-alt:432;}
.CB2B
	{mso-special-format:nobulletC;
	color:#003399;}
.CB2
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:152%;
	mso-text-indent-alt:684;}
.CB3B
	{mso-special-format:nobullet\2022;
	color:#003399;}
.CB3
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:152%;
	mso-text-indent-alt:938;}
.CB4B
	{mso-special-format:nobullet\2022;
	color:#003399;}
.CB4
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:152%;
	mso-text-indent-alt:1154;}
.CTB
	{mso-special-format:nobullet\2022;}
.CT
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-weight:bold;
	color:white;
	mso-color-index:0;
	mso-line-spacing:"80 0 0";}
.HBB
	{mso-special-format:bulletu;
	color:#003399;
	font-family:"Monotype Sorts";}
.HB
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	mso-margin-left-alt:255;}
.HB1B
	{mso-special-format:bullet\2022;
	color:black;
	mso-color-index:1;}
.HB1
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:539;
	mso-text-indent-alt:432;}
.HB2B
	{mso-special-format:bulletC;
	color:#003399;}
.HB2
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:866;
	mso-text-indent-alt:684;}
.HB3B
	{mso-special-format:bullet\2022;
	color:#003399;}
.HB3
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:1082;
	mso-text-indent-alt:938;}
.HB4B
	{mso-special-format:bullet\2022;
	color:#003399;}
.HB4
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:1298;
	mso-text-indent-alt:1154;}
.QBB
	{mso-special-format:bulletu;
	color:#003399;
	font-family:"Monotype Sorts";}
.QB
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	mso-margin-left-alt:255;}
.QB1B
	{mso-special-format:bullet\2022;
	color:black;
	mso-color-index:1;}
.QB1
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;
	mso-margin-left-alt:539;
	mso-text-indent-alt:432;}
.QB2B
	{mso-special-format:bulletC;
	color:#003399;}
.QB2
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;
	mso-margin-left-alt:866;
	mso-text-indent-alt:684;}
.QB3B
	{mso-special-format:bullet\2022;
	color:#003399;}
.QB3
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;
	mso-margin-left-alt:1082;
	mso-text-indent-alt:938;}
.QB4B
	{mso-special-format:bullet\2022;
	color:#003399;}
.QB4
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:114%;
	mso-margin-left-alt:1298;
	mso-text-indent-alt:1154;}
.TblB
	{mso-special-format:nobulletu;
	color:#003399;
	font-family:"Monotype Sorts";}
.Tbl
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	mso-margin-left-alt:255;}
.Tbl1B
	{mso-special-format:nobullet\2022;
	color:black;
	mso-color-index:1;}
.Tbl1
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:539;
	mso-text-indent-alt:432;}
.Tbl2B
	{mso-special-format:nobulletC;
	color:#003399;}
.Tbl2
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:866;
	mso-text-indent-alt:684;}
.Tbl3B
	{mso-special-format:nobullet\2022;
	color:#003399;}
.Tbl3
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:1082;
	mso-text-indent-alt:938;}
.Tbl4B
	{mso-special-format:nobullet\2022;
	color:#003399;}
.Tbl4
	{font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-size:133%;
	mso-margin-left-alt:1298;
	mso-text-indent-alt:1154;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:center;
	font-family:宋体;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:"Times New Roman";
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:white;
	mso-color-index:0;
	font-size:95%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:0;
	mso-kinsoku-overflow:0;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#CCCCFF !important;}
a:active
	{color:#3333CC !important;}
a:visited
	{color:#B2B2B2 !important;}
