<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="spt/jump.js"></script>
<title>主页面</title>
<link type="text/css" rel="stylesheet" href="spt/HomePage.css" />
</head>

<body>
<div class="bg01">
<div class="bg">
<div class="main-bg">
	<div id="flash" style="position: absolute; left: 120px; top: 280px;">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="820" height="250" id="myFlash">
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="movie" value="swf/HomeMenu.swf" />
			<param name="quality" value="high" />
			<param name="wmode" value="transparent" />
			<param name="BGCOLOR" value="#55A0FF" />
			<embed src="swf/HomeMenu.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="760" height="200" id="myFlash"></embed>
		</object>
	</div>

	<div id="quittag" style="position: absolute; left: 840px; top: 520px;">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="90" height="80" id="CloseFlash">
			<param name="movie" value="swf/ExitSystem.swf" />
			<param name="quality" value="high" />
			<param name="wmode" value="transparent" />
			<param name="allowScriptAccess" value="sameDomain" />
		</object>
	</div>
</div>
</div>
</div>
</body>
</html>
