<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<script type="text/javascript" src="spt/jump.js"></script>
<link rel="stylesheet" type="text/css" href="spt/default.css"/>
<link rel="stylesheet" type="text/css" href="spt/MainView.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript">
/**
 * INIT
 */
$(document).ready(function() {
	$(".item").hover(function(e) {
		$(this).css("cursor", "pointer");
		$(this).addClass("item_over");
		// $(this).corner();
		
		var img = $("#img_" + $(this).attr("id").split("_")[1]);
		img.attr("src", img.attr("src").replace("-ico-1", "-ico-2"));
	}, function(e) {
		$(this).css("cursor", "auto");
		$(this).removeClass("item_over");
		// $(this).uncorner();
		
		var img = $("#img_" + $(this).attr("id").split("_")[1]);
		img.attr("src", img.attr("src").replace("-ico-2", "-ico-1"));
	}).click(function() {
		var id = $(this).attr("id").split("_")[1];
		if(id.length < 2) {
			id = "0" + id;
		}
		
		fireEvent("B" + id);
	});
});
</script>
<title>专项训练</title>
</head>
<body>
<iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=175px src='head.html' frameborder=0 scrolling="no"></iframe>
<div id="main_container">
    <div id="content_body">
    <table width="100%" align="center" border="0" cellspacing="10" cellpadding="10">
      <tr>
        <td width="10%">&nbsp;</td>
        <td width="40%" valign="top" id="item_1" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_1" src="img/TopicTrain-01-ico-1.gif"/></td>
                <td class="title">1.ACLS基础知识训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>设置大量题库，将知识要点运用于实例，使学员对ACLS基础知识要点融会贯通。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="40%" valign="top" id="item_2" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_2" src="img/TopicTrain-02-ico-1.gif"/></td>
                <td class="title">2.心律识别训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>自设置上百种心律类型，通过训练，学员可掌握临床常见各种心律。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="10%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td valign="top" id="item_3" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_3" src="img/TopicTrain-03-ico-1.gif"/></td>
                <td class="title">3.心肺复苏急救训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>根据2005国际心肺复苏指南标准设置，训练基本生命支持技术。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td valign="top" id="item_4" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_4" src="img/TopicTrain-04-ico-1.gif"/></td>
                <td class="title">4.除颤仪使用训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>模拟真实除颤仪使用，并配合模拟人除颤过程中，显示相应的动画。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td valign="top" id="item_5" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_5" src="img/TopicTrain-05-ico-1.gif"/></td>
                <td class="title">5.插管训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>视频演示插管过程，并配合模拟人在插管过程显示动画。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td valign="top" id="item_6" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_6" src="img/TopicTrain-06-ico-1.gif"/></td>
                <td class="title">6.注射泵使用训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>模拟真实的注射泵操作，根据医嘱，练习如何正确使用微量注射泵及常见的故障排除。</p>
                </td>
              </tr>
            </table>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td valign="top" id="item_7" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_7" src="img/TopicTrain-07-ico-1.gif"/></td>
                <td class="title">7.AED使用训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>模拟真实AED使用流程，并配合模拟人除颤过程中，显示相应的动画。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td valign="top" id="item_8" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_8" src="img/TopicTrain-08-ico-1.gif"/></td>
                <td class="title">8.输液泵使用训练</td>
              </tr>
              <tr>
                <td class="content">
                    <p>模拟真实的输液泵操作，根据医嘱，练习如何正确使用微量输液泵及常见的故障排除。</p>
                </td>
              </tr>
            </table>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    </div>
</div>
</body>
</html>
