<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="spt/CourseWare.css"/>
<script language="javascript" src="spt/jquery-1.9.0.min.js"></script>
<script language="javascript" src="spt/jquery.corner.js"></script>
<script language="javascript" src="spt/app-common.js"></script>
<title>系统课件</title>
</head>
<body>
<div id="main_container">
	<div id="content_title">系统课件列表</div>
    <div id="content_body">
    <table width="100%" align="center" border="0" cellspacing="10" cellpadding="10">
      <tr>
        <td width="14%">&nbsp;</td>
        <td width="36%" valign="top" id="item_1" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_1" src="img/CourseWare-01-ico-1.gif"/></td>
                <td class="title">1.呼吸系统急诊</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“69岁患者，吸烟（4包/日），有严重慢性阻塞性肺部疾病，气促甚，突然神志不清。”</p>
                    <br/>
                    <p>表述进行CPR时的ACLS，表述和明确“气道等级”，介绍供氧，非侵入性气道设备，侵入性气道设备，气管导管位置固定。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="36%" valign="top" id="item_2" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_2" src="img/CourseWare-02-ico-1.gif"/></td>
                <td class="title">2.急性中风</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“120工作人员发现一位妇女晕倒在椅子上，神志模糊，但是能用语言应答。” </p>
                    <br/>
                    <p>认识中风的症状和体征；讨论院前急救的原则和急诊治疗；了解选择合适的严重缺血性中风病人进行溶栓治疗的可能性及措施。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="14%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="36%" valign="top" id="item_3" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_3" src="img/CourseWare-03-ico-1.gif"/></td>
                <td class="title">3.被证实为室颤：用自动除颤器（AED）和CPR施救</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“一位55岁男性在飞机上晕倒。两个乘务员正在为他进行胸外按压和气囊面罩通气，一旁放着打开的便携式自动除颤器（AED）。”</p>
                    <br/>
                    <p>学习施救者在单人施救中如何使用AED、手套、面罩对室颤倒下者进行处理，当第二位施救者到达时如何参予施救，遇到殊情况，如8岁以下儿童、潮湿环境、患者体内有植入式起搏器/除颤器、药物贴片，该如何处理。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="36%" valign="top" id="item_4" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_4" src="img/CourseWare-02-ico-1.gif"/></td>
                <td class="title">4.心动过缓</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“一87岁妇女报告其在作短距离散步时感觉虚弱和气急。她觉得筋疲力尽被一辆小车送到急诊室担架上。体格检查发现她脸色苍白，大汗淋漓，心率35次/min，血压90/60 mm Hg，呼吸18次/min。”</p>
                    <br/>
                    <p>
学会区别是有症状/无症状心动过缓，治疗药物及其使用效果，对于各型心脏传导阻滞识别标准及其病理，急性心肌梗死病人中心动过缓的特征，伴有心动过缓的右室梗死的特征，阿托品的药理学，建立、实施体外起搏及故障排除。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="36%" valign="top" id="item_5" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_5" src="img/CourseWare-05-ico-1.gif"/></td>
                <td class="title">5.室颤/无脉搏室速</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“一个60岁的心电图工作人员在为病人做12导联心电图检查时突然晕倒，在她晕倒前并未述有任何不适感觉。对于这个病人将如何处理？”</p>
                    <br/>
					<p>学习正确连接心电图各导联，掌握常规除颤，正确进行气管插管，控制静脉所给药物及方式，能协调多人共同进行ACLS。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="36%" valign="top" id="item_6" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_6" src="img/CourseWare-06-ico-1.gif"/></td>
                <td class="title">6.无脉搏心电活动</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“一位55岁男性走进急诊室，诉有严重胸痛和腹痛；他躺在诊疗床上开始脱衣服；当护士开始接监护心电导联时，他突然意识丧失倒在诊疗床上。”</p>
                    <br/>
                    <p>学习如何提供合适的高级生命支持（初级和进一步ABCD检查）；能通过开放气道、人工呼吸、建立循环稳定严重的症状；能找出十个引起无脉搏心电活动的常见原因；</p>
                </td>
              </tr>
            </table>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="36%" valign="top" id="item_7" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_7" src="img/CourseWare-07-ico-1.gif"/></td>
                <td class="title">7.急性冠脉综合征</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“1个55岁老人诉说胸骨下疼痛，放射到左臂和下颌，恶心、有频死感、大汗淋漓。” </p>
                    <br/>
                    <p>明确急性冠脉综合征定义；明确使用缺血性心痛规范；对缺血性心痛病人用药时认识为什么使用？什么时间使用？什么剂量？注意什么？学习如何认识ST段变化，怎么测量ST升高和降低，知道心肌梗死、损伤和缺血区的解剖定位，以及知道怎么对危重病人应用心电图意义。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="36%" valign="top" id="item_8" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_8" src="img/CourseWare-08-ico-1.gif"/></td>
                <td class="title">8.不稳定性心动过速</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“患者，女，45岁，主诉心悸, 呼吸困难，胸部压榨感，极度虚弱。” </p>
                    <br/>
                    <p>学会认识不稳定性心动过速，能迅速识别特殊的心律，遵循心动过速和心脏电复律的规则，正确实施同步心脏电复律，提供心脏电复律后的治疗和监测。</p>
                </td>
              </tr>
            </table>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="36%" valign="top" id="item_9" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_9" src="img/CourseWare-09-ico-1.gif"/></td>
                <td class="title">9.心室停搏</td>
              </tr>
              <tr>
                <td class="content">
                    <p>“一个64岁妇女，去医院预约门诊，在到达医院停车时突然倒下，医院人员开始BLS基本救生，但末进行ACLS高级心脏救生，下一步该怎么处理？”</p>
                    <br/>
                    <p>学习如何辨别心电图上一直线确实是心室停搏，而不是其他操作或器械问题引起；对心室停搏患者进行ACLS高级心脏救生顺序（第一步ABCD和第二步ABCD）；了解心室停搏患者最可能被逆转的因素；注意当有无脉搏心电活动发生时，能鉴别和排除相似的因素。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="36%" valign="top" id="item_10" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_10" src="img/CourseWare-10-ico-1.gif"/></td>
                <td class="title">10.稳定性心动过速</td>
              </tr>
              <tr>
                <td class="content">
                    <p>判断病人病情是否稳定；判断为何种心动过速：1.房颤/房扑、2.窄QRS波心动过速、3.稳定宽QRS波心动过速, 未知类型、4.稳定单形性室速和/或多形性室速；学会如何正确处理不同的心律失常类型。</p>
                </td>
              </tr>
            </table>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    </div>
</div>
</body>
</html>
