<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="spt/jump.js"></script>
<link rel="stylesheet" type="text/css" href="spt/default.css"/>
<title>系统课件</title>
</head>
<body>
<iframe name="content_frame" marginwidth=0 marginheight=0 width=100% height=175px src='head.html' frameborder=0 scrolling="no"></iframe>
<!--<div class="maintitle">系统课件列表：</div>-->
<div class="content_left">
    <div class="newsitem" style="min-height:100px" id="item_1" onmouseover="OnMouseOn(1,0)" onmouseout="OnMouseLeave(1,0)" onclick="external.JSCommand(3,1)">
		<div class="image">
			<img src="img/cpr.gif" alt="" id="img_1"/></div><div class="title">呼吸系统急诊</div>
			<div class="content"><span style="text-indent:1em;">“69岁患者，吸烟（4包/日），有严重慢性阻塞性肺部疾病，气促甚，突然神志不清。”</span><br/><p style="text-indent:1em;">表述进行CPR时的ACLS，表述和明确“气道等级”，介绍供氧，非侵入性气道设备，侵入性气道设备，气管导管位置固定。</p></div>
		<div class="clearer"><span></span></div>
	</div>
	
	<div class="newsitem" style="min-height:100px" id="item_2" onmouseover="OnMouseOn(2,0)" onmouseout="OnMouseLeave(2,0)" onclick="external.JSCommand(3,2)">
		<div class="image">
			<img src="img/插管.gif"  alt="" id="img_2"/>
		</div>
		<div class="title">被证实为室颤：用自动除颤器（AED）和CPR施救</div>
		<div class="content"><span style="text-indent:1em;">“一位55岁男性在飞机上晕倒。两个乘务员正在为他进行胸外按压和气囊面罩通气，一旁放着打开的便携式自动除颤器（AED）。”</span><br/><p style="text-indent:1em;">学习施救者在单人施救中如何使用AED、手套、面罩对室颤倒下者进行处理，当第二位施救者到达时如何参予施救，遇到殊情况，如8岁以下儿童、潮湿环境、患者体内有植入式起搏器/除颤器、药物贴片，该如何处理。</p>
		</div>
		<div class="clearer"><span></span></div>
	</div>
	
	
	<div  class="newsitem" style="min-height:130px" id="item_8" onmouseover="OnMouseOn(8,0)" onmouseout="OnMouseLeave(8,0)" onclick="external.JSCommand(3,3)">
		<div class="image">
			<img src="img/血压监测.gif"  alt="" id="img_8"/>
		</div>
		<div class="title">室颤/无脉搏室速</div>
		<div class="content"><span style="text-indent:1em;">“一个60岁的心电图工作人员在为病人做12导联心电图检查时突然晕倒，在她晕倒前并未述有任何不适感觉。对于这个病人将如何处理？”</span><br/>
<p style="text-indent:1em;">学习正确连接心电图各导联，掌握常规除颤，正确进行气管插管，控制静脉所给药物及方式，能协调多人共同进行ACLS。</p>
		</div>
	    <div class="clearer"><span></span></div>
	</div>
	
	<div class="newsitem" style="min-height:100px" id="item_6" onmouseover="OnMouseOn(6,0)" onmouseout="OnMouseLeave(6,0)" onclick="external.JSCommand(3,6)">
		<div class="image">
			<img src="img/胃插管.gif"  alt="" id="img_6"/>
		</div>
		<div class="title">急性冠脉综合征</div>
		<div class="content"><span style="text-indent:1em;">“1个55岁老人诉说胸骨下疼痛，放射到左臂和下颌，恶心、有频死感、大汗淋漓。” </span><br/><p style="text-indent:1em;">
明确急性冠脉综合征定义；明确使用缺血性心痛规范；对缺血性心痛病人用药时认识为什么使用？什么时间使用？什么剂量？注意什么？学习如何认识ST段变化，怎么测量ST升高和降低，知道心肌梗死、损伤和缺血区的解剖定位，以及知道怎么对危重病人应用心电图意义。</p>

		</div>
		<div class="clearer"><span></span></div>
	</div>
	
	<div class="newsitem" style="min-height:100px" id="item_5" onmouseover="OnMouseOn(5,0)" onmouseout="OnMouseLeave(5,0)" onclick="external.JSCommand(3,5)">
		<div class="image">
			<img src="img/吸痰.gif" alt="" id="img_5"/>
		</div>
		<div class="title">心室停搏</div>
		<div class="content"><span style="text-indent:1em;">“一个64岁妇女，去医院预约门诊，在到达医院停车时突然倒下，医院人员开始BLS基本救生，但末进行ACLS高级心脏救生，下一步该怎么处理？”</span><br/><p style="text-indent:1em;">
学习如何辨别心电图上一直线确实是心室停搏，而不是其他操作或器械问题引起；对心室停搏患者进行ACLS高级心脏救生顺序（第一步ABCD和第二步ABCD）；了解心室停搏患者最可能被逆转的因素；注意当有无脉搏心电活动发生时，能鉴别和排除相似的因素。</p>
		</div>
		<div class="clearer"><span></span></div>
	</div>
</div>


<div class="content_right">
    <div  class="newsitem" style="min-height:100px" id="item_10" onmouseover="OnMouseOn(10,0)" onmouseout="OnMouseLeave(10,0)" onclick="external.JSCommand(3,10)">
		<div class="image">
			<img src="img/注射泵.gif"  alt="" id="img_10"/>
		</div>
		<div class="title">急性中风</div>
		<div class="content"><span style="text-indent:1em;">“120工作人员发现一位妇女晕倒在椅子上，神志模糊，但是能用语言应答。” </span><br/><p style="text-indent:1em;">
认识中风的症状和体征；讨论院前急救的原则和急诊治疗；了解选择合适的严重缺血性中风病人进行溶栓治疗的可能性及措施。</p>
		</div>
		<div class="clearer"><span></span></div>
	</div>

<div class="newsitem" style="min-height:100px" id="item_7" onmouseover="OnMouseOn(7,0)" onmouseout="OnMouseLeave(7,0)" onclick="external.JSCommand(3,7)">
		<div class="image">
			<img src="img/除颤.gif"  alt="" id="img_7"/>
		</div>
		<div class="title">心动过缓</div>
		<div class="content"><span style="text-indent:1em;">“一87岁妇女报告其在作短距离散步时感觉虚弱和气急。她觉得筋疲力尽被一辆小车送到急诊室担架上。体格检查发现她脸色苍白，大汗淋漓，心率35次/min，血压90/60 mm Hg，呼吸18次/min。”</span><br/><p style="text-indent:1em;">
学会区别是有症状/无症状心动过缓，治疗药物及其使用效果，对于各型心脏传导阻滞识别标准及其病理，急性心肌梗死病人中心动过缓的特征，伴有心动过缓的右室梗死的特征，阿托品的药理学，建立、实施体外起搏及故障排除。</p>

		</div>
		<div class="clearer"><span></span></div>
	</div>
	
	
      <div class="newsitem" style="min-height:100px" id="item_4" onmouseover="OnMouseOn(4,0)" onmouseout="OnMouseLeave(4,0)" onclick="external.JSCommand(3,4)">
		<div class="image">
			<img src="img/输液泵.gif" alt="" id="img_4"/>
		</div>
		<div class="title">无脉搏心电活动</div>
		<div class="content"><span style="text-indent:1em;">“一位55岁男性走进急诊室，诉有严重胸痛和腹痛；他躺在诊疗床上开始脱衣服；当护士开始接监护心电导联时，他突然意识丧失倒在诊疗床上。”</span><br/><p style="text-indent:1em;">
学习如何提供合适的高级生命支持（初级和进一步ABCD检查）；能通过开放气道、人工呼吸、建立循环稳定严重的症状；能找出十个引起无脉搏心电活动的常见原因；</p></div>
		<div class="clearer"><span></span></div>
	</div>

<div class="newsitem"  style="min-height:130px" id="item_3" onmouseover="OnMouseOn(3,0)" onmouseout="OnMouseLeave(3,0)" onclick="external.JSCommand(3,8)">
		<div class="image">
			<img src="img/PICC.gif" alt="" id="img_3"/>
		</div>
		<div class="title">不稳定性心动过速</div>
		<div class="content"><span style="text-indent:1em;">“患者，女，45岁，主诉心悸, 呼吸困难，胸部压榨感，极度虚弱。” </span><br/><p style="text-indent:1em;">
  学会认识不稳定性心动过速，能迅速识别特殊的心律，遵循心动过速和心脏电复律的规则，正确实施同步心脏电复律，提供心脏电复律后的治疗和监测。</p>
		</div>
		<div class="clearer"><span></span></div>
	</div>	
	<br/>
	<br/>


		
	<div  class="newsitem"  style="min-height:100px" id="item_9" onmouseover="OnMouseOn(9,0)" onmouseout="OnMouseLeave(9,0)" onclick="external.JSCommand(3,9)">
		<div class="image">
			<img src="img/导尿.gif"  alt="" id="img_9"/>
		</div>
		<div class="title">稳定性心动过速</div>
		<div class="content"><p style="text-indent:1em;">判断病人病情是否稳定；判断为何种心动过速：1.房颤/房扑、2.窄QRS波心动过速、3.稳定宽QRS波心动过速, 未知类型、4.稳定单形性室速和/或多形性室速；学会如何正确处理不同的心律失常类型。</p>
		</div>
		<div class="clearer"><span></span></div>
	</div>
</div>
</body>
</html>
