<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="spt/MainView.css"/>
<script language="javascript" src="spt/jquery-1.9.0.min.js"></script>
<script language="javascript">
/**
 * INIT
 */
$(document).ready(function() {
	$(".item").hover(function(e) {
		$(this).css("cursor", "pointer");
		$(this).addClass("item_over");
		// $(this).corner();
		
		var img = $("#img_" + $(this).attr("id").split("_")[1]);
		img.attr("src", img.attr("src").replace("-ico-1", "-ico-2"));
	}, function(e) {
		$(this).css("cursor", "auto");
		$(this).removeClass("item_over");
		// $(this).uncorner();
		
		var img = $("#img_" + $(this).attr("id").split("_")[1]);
		img.attr("src", img.attr("src").replace("-ico-2", "-ico-1"));
	}).click(function() {
		app.fireEvent($(this).attr("id").split("_")[1]);
	});
});
</script>
<title>系统设置</title>
</head>
<body>
<div id="main_container">
	<div id="content_title">系 统 设 置</div>
    <div id="content_body">
    <table width="100%" align="center" border="0" cellspacing="10" cellpadding="10">
      <tr>
        <td width="10%">&nbsp;</td>
        <td width="40%" valign="top" id="item_1" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_1" src="img/SystemCfg-01-ico-1.gif"/></td>
                <td class="title">1.系统配置设置</td>
              </tr>
              <tr>
                <td class="content">
                    <p>主要对心肺复苏、虚拟监控器参数</p>
                    <br/>
                    <p>以及虚拟体征日志的设定。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="40%" valign="top" id="item_2" class="item">
            <table width="100%" align="center" border="0" cellspacing="5" cellpadding="5">
              <tr>
                <td width="52" height="52" rowspan="2" align="center" valign="top"><img id="img_2" src="img/SystemCfg-02-ico-1.gif"/></td>
                <td class="title">2.登陆密码修改</td>
              </tr>
              <tr>
                <td class="content">
                    <p>用于修改登陆密码。</p>
                </td>
              </tr>
            </table>
    	</td>
        <td width="10%">&nbsp;</td>
      </tr>
    </table>
    </div>
</div>
</body>
</html>
