<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script language="javascript" src="spt/jquery-1.9.0.min.js"></script>
<script language="javascript" src="spt/html5media.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>不稳定性心动过速</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者，女性，48岁，阵发性心悸、气促伴胸闷6个月，加重伴晕厥1次。患者6个月前出现劳累后阵发性心悸、胸闷，每次持续约数分钟，休息后好转，未就诊。半小时前劳累后又出现心悸、胸闷、头晕、出冷汗，并晕厥一次。</li>
	  <li>既往史：既往无慢性病史，否认风湿病史。无烟酒嗜好。</li>
	  <li>查体：T 37.7℃ BP 109/75mmHg  P 178次/分，R 16次/分，意识模糊，口唇紫绀，两肺呼吸音稍粗，心界不大，心率178次/分，律齐，第一心音强弱不等，未及杂音。腹软无压痛。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图24.jpg" height="400" alt=""/></div>
	  </li>
	   <li>胸片:<br/>
	   <div class="Bigimage"><img src="img/图25.bmp"  alt="" height="320"/><img src="img/图26.bmp" height="320"  alt=""/></div>
	  </li>
	   <li>超声心动图:<br/>
		<div align="center">
			<video src="mpg/视频3.mp4" controls="controls" autoplay="true" autobuffer="false"></video>
		</div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>扩张性心肌病 心律失常 室性心动过速<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/7.jpg"  alt=""/></div>
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C08')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
