<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>不稳定性心动过速</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者，女性，48岁，阵发性心悸、气促伴胸闷6个月，加重伴晕厥1次。患者6个月前出现劳累后阵发性心悸、胸闷，每次持续约数分钟，休息后好转，未就诊。半小时前劳累后又出现心悸、胸闷、头晕、出冷汗，并晕厥一次。</li>
	  <li>既往史：既往无慢性病史，否认风湿病史。无烟酒嗜好。</li>
	  <li>查体：T 37.7℃ BP 109/75mmHg  P 178次/分，R 16次/分，意识模糊，口唇紫绀，两肺呼吸音稍粗，心界不大，心率178次/分，律齐，第一心音强弱不等，未及杂音。腹软无压痛。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图24.jpg" height="400" alt=""/></div>
	  </li>
	   <li>胸片:<br/>
	   <div class="Bigimage"><img src="img/图25.bmp"  alt="" height="320"/><img src="img/图26.bmp" height="320"  alt=""/></div>
	  </li>
	   <li>超声心动图:<br/>
		<div align="center">
		<object id="player" height="300" width="400" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">
		<param NAME="AutoStart" VALUE="-1">
		<!--是否自动播放-->
		<param NAME="Balance" VALUE="0">
		<!--调整左右声道平衡,同上面旧播放器代码-->
		<param name="enabled" value="-1">
		<!--播放器是否可人为控制-->
		<param NAME="EnableContextMenu" VALUE="-1">
		<!--是否启用上下文菜单-->
		<param NAME="URL" VALUE="mpg/视频3.mpg">
		<!--播放的文件地址-->
		<param NAME="PlayCount" VALUE="1">
		<!--播放次数控制,为整数-->
		<param name="rate" value="1">
		<!--播放速率控制,1为正常,允许小数,1.0-2.0-->
		<param name="currentPosition" value="0">
		<!--控件设置:当前位置-->
		<param name="currentMarker" value="0">
		<!--控件设置:当前标记-->
		<param name="defaultFrame" value="">
		<!--显示默认框架-->
		<param name="invokeURLs" value="0">
		<!--脚本命令设置:是否调用URL-->
		<param name="baseURL" value="">
		<!--脚本命令设置:被调用的URL-->
		<param name="stretchToFit" value="0">
		<!--是否按比例伸展-->
		<param name="volume" value="50">
		<!--默认声音大小0%-100%,50则为50%-->
		<param name="mute" value="0">
		<!--是否静音-->
		<param name="uiMode" value="mini">
		<!--播放器显示模式:Full显示全部;mini最简化;None不显示播放控制,只显示视频窗口;invisible全部不显示-->
		<param name="windowlessVideo" value="0">
		<!--如果是0可以允许全屏,否则只能在窗口中查看-->
		<param name="fullScreen" value="0">
		<!--开始播放是否自动全屏-->
		<param name="enableErrorDialogs" value="-1">
		<!--是否启用错误提示报告-->
		<param name="SAMIStyle" value>
		<!--SAMI样式-->
		<param name="SAMILang" value>
		<!--SAMI语言-->
		<param name="SAMIFilename" value>
		<!--字幕ID-->
		</object>
		</div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>扩张性心肌病 心律失常 室性心动过速<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/7.jpg"  alt=""/></div>
   </div>
 <div class="buttons"><div onclick="app.fireEvent(8)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
