<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>呼吸衰竭</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：男，65岁，反复咳嗽、咳痰40余年，气促5年，加重伴发热7天。患者有慢性咳嗽，咳痰病史40余年，既往明确诊断“COPD”。近五年明显加剧，常年不断，伴喘息和呼吸困难，冬春季更甚。7天前因受凉而发热，咳嗽咳痰加重，咳大量黄色泡沫痰，气急，呼吸困难，发绀。</li>
	  <li>既往史：有吸烟史30余年。否认药物过敏史。</li>
	  <li>查体：T 38.6℃ P 136 次/分 R 26次/分 BP 110/60mmHg，精神萎靡，呼吸急促，两侧颈静脉充盈，桶胸，两肺呼吸音粗，两肺满布干、湿性罗音及哮鸣音，心率 136次/分，律齐，心音低钝，未及明显杂音。腹软，无压痛及反跳痛。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>血常规:<br/>
	  <div class="Bigimage"><img src="img/图43.jpg"  alt=""/></div>
	  </li>
      <li>血气分析:<br/>
	   <div class="Bigimage"><img src="img/图44.jpg"  alt=""/></div>
	  </li>
	  <li>胸片:<br/>
	   <div class="Bigimage"><img src="img/图45.jpg"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>慢性喘息性支气管炎急性发作 阻塞性肺气肿 慢性肺源性心脏病 急性I型呼衰 失代偿性呼吸性酸中毒 肺性脑病<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/14.jpg"  alt=""/></div>
   </div>
 <div class="buttons"><div onclick="app.fireEvent(19)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
