<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>张力性气胸引起PEA</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：男性，27岁，10分钟前左上胸部被汽车撞伤，既往体健。</li>
	  <li>查体：血压 80/50mmHg，脉搏 148次/分，呼吸 40次/分。神清合作，痛苦状，呼吸急促，吸氧下呼吸紧迫反而加重，伴口唇青紫，颈静脉怒张不明显。气管移向右侧。左胸廓饱满，呼吸运动较右胸弱。左胸壁有骨擦音（第4，5，6肋）局部压痛明显。皮下气肿。上自颈部、胸部直至上腹部均可触及皮下气肿。左胸叩鼓，呼吸音消失，未闻及罗音，右肺呼吸者较粗，未闻及罗音。左心界叩诊不清，心律整，心率　148次/分，心音较弱，未闻及杂音。腹部平软，无压痛肌紧张，肠鸣音正常，肝脾未及，下肢无浮肿，四肢活动正常，未引出病理反射。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>胸片:<br/>
	  <div class="Bigimage"><img src="img/图14.jpg"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li >1.张力性气胸；2.休克；3.多根肋骨骨折<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/5.jpg"  alt=""/></div>

  </div>
 <div class="buttons"><div onclick="onEmergeOperate('C03')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
