<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script language="javascript" src="spt/jquery-1.9.0.min.js"></script>
<script language="javascript" src="spt/html5media.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>急性心包填塞引起PEA</title>
</head>

<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：男性，35岁，半小时前因车祸(车速180km/h)发生闭合性胸部损伤。</li>
	  <li>既往史：既往体健，无心肺疾患史。</li>
	  <li>查体：男性，35岁，半小时前因车祸(车速180km/h)发生闭合性胸部损伤。Bp 90/80mmHg，呼吸急促，40次/分，脉搏 130次/分。神清合作，痛苦状，呼吸困难，浅弱，脉搏快弱，有奇脉，颈静脉怒张，充盈明显，气管正中，双肺呼吸音清晰，叩清，无罗音，心律整，心音遥远，未闻及病理性杂音。腹部及四肢大致正常，无病理反射引出。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>心肌酶及心肌蛋白:<br/>
	  <div class="Bigimage"><img src="img/图1.jpg"  alt=""/></div>
	  </li>
      <li>胸片:<br/>
	   <div class="Bigimage"><img src="img/图2.jpg"  alt=""/></div>
	  </li>
	  <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图3.jpg"  alt=""/></div>
	  </li>
	  	 <li>超声心动图:<br/>
		<div align="center">
			<video src="mpg/视频1.mp4" controls="controls" autoplay="true" autobuffer="true"></video>
		</div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>急性心包填塞(血心包）<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/1.jpg"  alt=""/></div>
   
	<div class="image"></div>
   <div class="maintitle">【心包穿刺术操作要点】</div>
   <div align="center">
		<video src="mpg/心包穿刺术.mp4" controls="controls" autoplay="true" autobuffer="true"></video>
	</div>
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C01')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
