<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>急性心包填塞引起PEA</title>
</head>

<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：男性，35岁，半小时前因车祸(车速180km/h)发生闭合性胸部损伤。</li>
	  <li>既往史：既往体健，无心肺疾患史。</li>
	  <li>查体：男性，35岁，半小时前因车祸(车速180km/h)发生闭合性胸部损伤。Bp 90/80mmHg，呼吸急促，40次/分，脉搏 130次/分。神清合作，痛苦状，呼吸困难，浅弱，脉搏快弱，有奇脉，颈静脉怒张，充盈明显，气管正中，双肺呼吸音清晰，叩清，无罗音，心律整，心音遥远，未闻及病理性杂音。腹部及四肢大致正常，无病理反射引出。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>心肌酶及心肌蛋白:<br/>
	  <div class="Bigimage"><img src="img/图1.jpg"  alt=""/></div>
	  </li>
      <li>胸片:<br/>
	   <div class="Bigimage"><img src="img/图2.jpg"  alt=""/></div>
	  </li>
	  <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图3.jpg"  alt=""/></div>
	  </li>
	  	 <li>超声心动图:<br/>
		<div align="center">
		<object id="player" height="300" width="400" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">
		<param NAME="AutoStart" VALUE="-1">
		<!--是否自动播放-->
		<param NAME="Balance" VALUE="0">
		<!--调整左右声道平衡,同上面旧播放器代码-->
		<param name="enabled" value="-1">
		<!--播放器是否可人为控制-->
		<param NAME="EnableContextMenu" VALUE="-1">
		<!--是否启用上下文菜单-->
		<param NAME="URL" VALUE="mpg/视频1.mpg">
		<!--播放的文件地址-->
		<param NAME="PlayCount" VALUE="1">
		<!--播放次数控制,为整数-->
		<param name="rate" value="1">
		<!--播放速率控制,1为正常,允许小数,1.0-2.0-->
		<param name="currentPosition" value="0">
		<!--控件设置:当前位置-->
		<param name="currentMarker" value="0">
		<!--控件设置:当前标记-->
		<param name="defaultFrame" value="">
		<!--显示默认框架-->
		<param name="invokeURLs" value="0">
		<!--脚本命令设置:是否调用URL-->
		<param name="baseURL" value="">
		<!--脚本命令设置:被调用的URL-->
		<param name="stretchToFit" value="0">
		<!--是否按比例伸展-->
		<param name="volume" value="50">
		<!--默认声音大小0%-100%,50则为50%-->
		<param name="mute" value="0">
		<!--是否静音-->
		<param name="uiMode" value="mini">
		<!--播放器显示模式:Full显示全部;mini最简化;None不显示播放控制,只显示视频窗口;invisible全部不显示-->
		<param name="windowlessVideo" value="0">
		<!--如果是0可以允许全屏,否则只能在窗口中查看-->
		<param name="fullScreen" value="0">
		<!--开始播放是否自动全屏-->
		<param name="enableErrorDialogs" value="-1">
		<!--是否启用错误提示报告-->
		<param name="SAMIStyle" value>
		<!--SAMI样式-->
		<param name="SAMILang" value>
		<!--SAMI语言-->
		<param name="SAMIFilename" value>
		<!--字幕ID-->
		</object>
		</div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>急性心包填塞(血心包）<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/1.jpg"  alt=""/></div>
   
	<div class="image"></div>
   <div class="maintitle">【心包穿刺术操作要点】</div>
   <div align="center">
		<object id="player" height="300" width="400" classid="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6">
		<param NAME="AutoStart" VALUE="-1">
		<!--是否自动播放-->
		<param NAME="Balance" VALUE="0">
		<!--调整左右声道平衡,同上面旧播放器代码-->
		<param name="enabled" value="-1">
		<!--播放器是否可人为控制-->
		<param NAME="EnableContextMenu" VALUE="-1">
		<!--是否启用上下文菜单-->
		<param NAME="URL" VALUE="mpg/心包穿刺术.avi">
		<!--播放的文件地址-->
		<param NAME="PlayCount" VALUE="1">
		<!--播放次数控制,为整数-->
		<param name="rate" value="1">
		<!--播放速率控制,1为正常,允许小数,1.0-2.0-->
		<param name="currentPosition" value="0">
		<!--控件设置:当前位置-->
		<param name="currentMarker" value="0">
		<!--控件设置:当前标记-->
		<param name="defaultFrame" value="">
		<!--显示默认框架-->
		<param name="invokeURLs" value="0">
		<!--脚本命令设置:是否调用URL-->
		<param name="baseURL" value="">
		<!--脚本命令设置:被调用的URL-->
		<param name="stretchToFit" value="0">
		<!--是否按比例伸展-->
		<param name="volume" value="50">
		<!--默认声音大小0%-100%,50则为50%-->
		<param name="mute" value="0">
		<!--是否静音-->
		<param name="uiMode" value="mini">
		<!--播放器显示模式:Full显示全部;mini最简化;None不显示播放控制,只显示视频窗口;invisible全部不显示-->
		<param name="windowlessVideo" value="0">
		<!--如果是0可以允许全屏,否则只能在窗口中查看-->
		<param name="fullScreen" value="0">
		<!--开始播放是否自动全屏-->
		<param name="enableErrorDialogs" value="-1">
		<!--是否启用错误提示报告-->
		<param name="SAMIStyle" value>
		<!--SAMI样式-->
		<param name="SAMILang" value>
		<!--SAMI语言-->
		<param name="SAMIFilename" value>
		<!--字幕ID-->
		</object>
		</div>
   </div>
 <div class="buttons"><div onclick="app.fireEvent(1)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
