<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>急性心肌梗死引起心动过缓</title>
</head>

<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：女性，48岁，上腹部不适4小时。患者诉上腹部不适，恶心，胸闷，出冷汗，濒死感。</li>
	  <li>既往史：高血压病史6年，最高血压150/100mmHg，未正规治疗。无烟酒嗜好。</li>
	  <li>查体：BP 70/30mmHg，肥胖体型，呼吸 16次/分，双肺叩诊清音，无干湿性啰音。心界向左扩大，心尖搏动位于左锁骨中线第五肋间外1cm，呈抬举性搏动，HR 47次/分，未及明显杂音。腹部无异常，双下肢无浮肿。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>心肌酶谱:<br/>
	  <div class="Bigimage"><img src="img/图16.jpg"  alt=""/></div>
	  </li>
      <li>电解质:<br/>
	   <div class="Bigimage"><img src="img/图17.jpg"  alt=""/></div>
	  </li>
	  <li>凝血功能:<br/>
	   <div class="Bigimage"><img src="img/图18.jpg"  alt=""/></div>
	  </li>
	   <li>血糖:<br/>
	   <div class="Bigimage"><img src="img/图19.jpg"  alt=""/></div>
	  </li>
	   <li>血常规:<br/>
	   <div class="Bigimage"><img src="img/图20.jpg"  alt=""/></div>
	  </li>
	  <li>CRP:<br/>
	   <div class="Bigimage"><img src="img/图21.jpg"  alt=""/></div>
	  </li>
	  <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图22.jpg" width="600"  alt=""/></div>
	  </li>
	  <li>胸片:<br/>
	  <div class="Bigimage"><img src="img/图23.bmp"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li >冠心病 下壁心肌梗死（超急性或急性期）右心室梗死（超急性或急性期）窦性心动过缓<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/2.jpg"  alt=""/></div>

  </div>
 <div class="buttons"><div onclick="app.fireEvent(6)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
