<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script language="javascript" src="spt/jquery-1.9.0.min.js"></script>
<script language="javascript" src="spt/html5media.min.js"></script>
<title>急性有机磷农药中毒</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：女性，35岁，昏迷1小时。患者1个小时前因与家人不和，自服药水1小瓶，把药瓶打碎扔掉，家人发现后5分钟病人腹痛、恶心，并呕吐一次，吐出物有大蒜味，逐渐神志不清，急送来诊，病后大小便失禁，出汗多。</li>
	  <li>既往史：既往体健，无肝、肾、糖尿病史，无药物过敏史，月经史、个人史及家族史无特殊。</li>
	  <li>查体：T36.5℃, P60次/分，R30次/分,Bp110/80mmHg，平卧位，神志不清，呼之不应，压眶有反应，皮肤湿冷，肌肉颤动，巩膜不黄，双侧瞳孔针尖样，对光反射弱，口角流涎，肺部叩诊呈清音，两肺可及大量哮鸣音和散在湿罗音，心界不大，心率60次/分，律齐，无杂音，腹平软，肝脾未触及，下肢不肿。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>血常规:<br/>
	  <div class="Bigimage"><img src="img/图38血常规.jpg"  alt=""/></div>
	  </li>
      <li>全血胆碱酯酶活力测定:<br/>
	   <div class="Bigimage"><img src="img/图39.jpg"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>急性有机磷农药中毒<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/12.jpg"  alt=""/></div>
   
	<div class="image"></div>
   <div class="maintitle">【洗胃术操作要点】</div>
   	  	<div align="center">
		<video src="mpg/视频5.mp4" controls="controls" autoplay="true" autobuffer="true"></video>
		</div>
   </div>
 <div class="buttons"><div onclick="app.fireEvent(13)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
