<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>支气管哮喘急性重度发作</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：男性，19岁，运动后突发喘息、气急2小时。患者于2小时前剧烈运动后突发喘息、气急、胸闷，自行使用沙丁胺醇气雾剂，无明显缓解。</li>
	  <li>既往史：既往有支气管哮喘病史15年，每月发作7-8次，经治疗可缓解。有青霉素过敏史。对花粉、蟹过敏。</li>
	  <li>查体：T37.5℃, P 125次/分，R 40次/分，BP 90/60mmHg，端坐位，面容焦虑，大汗，口唇紫绀，三凹征明显，胸廓饱满，两肺可闻及散在响亮的哮鸣音。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>动脉血气分析:<br/>
	  <div class="Bigimage"><img src="img/图13.jpg"  alt=""/></div>
	  </li>
	  </ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li >支气管哮喘急性重度发作<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div><div class="Bigimage">
   <div class="Bigimage"><img src="img/3.jpg"  alt=""/></div>
  </div>
  </div>
 <div class="buttons"><div onclick="onEmergeOperate('C17')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
