<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>无脉搏心脏骤停-室颤</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：30岁，男性，突发意识丧失。患者饭后散步时突发意识丧失。</li>
	  <li>既往史：既往体健。</li>
	  <li>查体：无意识，皮肤紫绀，瞳孔散大，大动脉搏动消失，呼吸断续，呈叹息样呼吸。</li>
    </ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li >心脏骤停<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div><div class="Bigimage">
   <div class="Bigimage"><img src="img/4.jpg"  alt=""/></div>
  </div>
  </div>
 <div class="buttons"><div onclick="app.fireEvent(2)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
