<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>气道异物梗阻</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者，男，63岁，两小时前晚饭时突发喘憋，呼吸困难，咳嗽，咳白色泡沫痰，面色发紫。</li>
	  <li>既往史：既往体健，否认冠心病、高血压、慢支等病史。否认过敏史。。</li>
	  <li>查体：T 37.8℃ P 120次/分  R 27次/分 BP 140/90mmHg ，意识淡漠，口唇紫绀，大汗，右肺呼吸音较左肺低，两肺可及散在哮鸣音及湿罗音，右肺较明显，心率120次/分，未及明显杂音。腹软无压痛及反跳痛。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>胸片:<br/>
	  <div class="Bigimage"><img src="img/图27.jpg"  alt=""/></div>
	  </li>
      <li>血常规:<br/>
	   <div class="Bigimage"><img src="img/图28.jpg"  alt=""/></div>
	  </li>
	  <li>血气分析:<br/>
	   <div class="Bigimage"><img src="img/图29.jpg"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li >右支气管异物<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/8.jpg"  alt=""/></div>

  </div>
 <div class="buttons"><div onclick="app.fireEvent(18)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
