<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>硬膜外血肿</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：男性，23岁，因骑车进行中被汽车撞倒，右颞部着地半小时，到急诊就诊。患者摔倒后曾有约5分钟的昏迷，清醒后，自觉头痛，恶心。</li>
	  <li>既往史：既往体健。否认过敏史。</li>
	  <li>查体：BP 139/80mmHg，P 80次/分，一般情况可，神志清，对答切题，双侧瞳孔等大同圆，对光反射存在，双侧鼻唇沟对称，口齿清楚，双侧Babinski征阴性，其他神经系统检查均未见明显阳性体征。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>头颅X片<br/>
	  <div class="Bigimage"><img src="img/图30.jpg"  alt=""/></div>
	  </li>
      <li>头颅CT<br/>
	   <div class="Bigimage"><img src="img/图31.jpg" width="600" alt=""/></div>
	  </li>
	</ul>
	<div class="image"></div>
	<div class="maintitle">【诊断】</div>
    <ul>
	 <li>1. 颅骨骨折</li>
	  <li>2. 右额、颞、顶脑挫裂伤</li>
	  <li>3. 右额、颞、顶急性硬膜下血肿</li>
	 </ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/9.jpg"  alt=""/></div>
   
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C20')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
