<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>糖尿病酮症酸中毒</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者，女性，55岁。昏迷1h。2天前因左脚拇指外伤，自行口服抗生素治疗。半天前出现大量呕吐，呕吐物为胃内容物。1h前出现意识不清。</li>
	  <li>既往史：患者有糖尿病史20余年，一直坚持服用“消渴丸”等口服降糖药治疗，并坚持控制饮食，空腹血糖波动在5.5-7.5mmol/L之间。近来多尿、烦渴、乏力等症状加重。</li>
	  <li> 查体：T 35.5 ℃，P 60次/分，R 24次/分，BP 75/50mmHg。平卧位，深昏迷状态，呼吸深大，有烂苹果味，皮肤黏膜干燥，弹性差；双侧瞳孔等大同圆，对光反射迟钝。颈软，两肺底少许细湿罗音。心脏、腹部无明显阳性体征。四肢末端发凉，左足拇指可见皮肤略红肿，无脓性分泌物。生理反射及病理反射均消失。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>血常规:<br/>
	  <div class="Bigimage"><img src="img/图60.jpg"  alt=""/></div>
	  </li>
      <li>尿常规:<br/>
	   <div class="Bigimage"><img src="img/图61.jpg"  alt=""/></div>
	  </li>
	  <li>电解质:<br/>
	   <div class="Bigimage"><img src="img/图62.jpg"  alt=""/></div>
	  </li>
	  <li>血糖:<br/>
	   <div class="Bigimage"><img src="img/图63.jpg"  alt=""/></div>
	  </li>
	   <li>血气分析:<br/>
	   <div class="Bigimage"><img src="img/图64.jpg"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>糖尿病酮症酸中毒昏迷 左足感染<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/20.jpg"  alt=""/></div>
   
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C16')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
