<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>肺栓塞引起PEA</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者，男，73岁 ，左胸部疼痛伴气促2天，咯血一次，约10ml。患者自觉活动后气急明显，无发热。</li>
	  <li>既往史：患有＂前列腺癌＂史4年，已行手术治疗，但近半年来PSA有进行性升高，在３个月前开始服用＂孕酮＂。</li>
	  <li>查体：T 36.8℃，P 68次/分，R 20次/分，Bp 110/70mmHg，两下肺呼吸音低，可闻及少量湿罗音，心界左侧扩大，心率68次／分，律齐。右下肢肿胀，右小腿周径39cm，左小腿周径36.5cm。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>D-二聚体<br/>
	  <div class="Bigimage"><img src="img/图56.jpg"  alt=""/></div>
	  </li>
      <li>凝血功能:<br/>
	   <div class="Bigimage"><img src="img/图57.jpg"  alt=""/></div>
	  </li>
	  <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图58.jpg" width="530px" alt=""/></div>
	  </li>
	   <li>CTPA:<br/>
	   <div class="Bigimage"><img src="img/图59.jpg" width="530px" alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>肺动脉栓塞 深静脉血栓形成<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/19.jpg"  alt=""/></div>
   
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C05')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
