<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>脑卒中</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	<li>现病史：患者，男，67岁。突发意识模糊、左侧肢体不能活动半小时。患者半小时前在家中看电视突发头晕、头痛，呕吐一次，呕吐物为胃内容物，随即出现意识模糊，左侧肢体不能活动，言语不清。</li>
	  <li>既往史：发现“高血压病”20年，血压最高达180/120mmHg，平时规律服用“卡托普利 1# tid”，血压控制在120-140/90-105mmHg。否认冠心病、房颤、慢支等慢性病史。否认肝炎、结核等传染病病史。否认药物过敏史。</li>
	  <li>查体：T 37.8℃，P 105次/分，R 16次/分，BP 160/95mmHg，意识不清，烦躁，对答不切题，口齿不清，两侧瞳孔等大同圆，对光反射存在，左侧鼻唇沟浅，伸舌不配合。心率105次/分，未闻及明显心脏杂音，两肺呼吸音清，未及明显干湿啰音，腹软无压痛。左侧肌张力低，肢体肌力0级，右侧肢体肌力V级。左侧Babinski征（+）。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>凝血功能:<br/>
	  <div class="Bigimage"><img src="img/图66.jpg"  alt=""/></div>
	  </li>
      <li>血糖:<br/>
	   <div class="Bigimage"><img src="img/图67.jpg"  alt=""/></div>
	  </li>
	  <li>头颅CT:<br/>
	   <div class="Bigimage"><img src="img/图68.jpg" width="530"  alt=""/></div>
	  </li>
	  <li>Glasgow昏迷量表:<br/>
	   <div class="Bigimage"><img src="img/图69.jpg" width="450"  alt=""/></div>
	  </li>
	   <li>NIH卒中指数:<br/>
	   <div class="Bigimage"><img src="img/图70.jpg"  width="450" alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>1.超急性右侧大面积脑梗塞 2.高血压病3级 极高危组<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/21.jpg"  alt=""/></div>
  
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C21')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
