<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<script type="text/javascript" src="spt/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="swf/swfobject.js"></script>
<script type="text/javascript" src="spt/jump.js"></script>
<title>药物过量中毒-心律平</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者女性，22岁，与男友发生争吵而服用心律平50片（每片剂量50mg），服药后半小时感头晕、乏力、心悸、气急、胸闷，全身不适。一小时后上述症状明显加重。</li>
	  <li>既往史：既往体健。否认肝炎、结核等病史。否认药物、食物过敏史。</li>
	  <li>查体：P 16次/分，R 55次/分，BP 90/50mmHg，意识模糊，呼之能应，痛苦状，两侧瞳孔等大同圆，对光反射迟钝，双肺呼吸音清，未及明显干湿啰音，心率55次/分，律齐，未及异常心音及心脏杂音。腹软无压痛。四肢肌力差，病理征未引出。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>血常规:<br/>
	  <div class="Bigimage"><img src="img/图(72)45.jpg"  alt=""/></div>
	  </li>
      <li>电解质:<br/>
	   <div class="Bigimage"><img src="img/图46.jpg"  alt=""/></div>
	  </li>
	   <li>心肌酶谱:<br/>
	   <div class="Bigimage"><img src="img/图47.jpg"  alt=""/></div>
	  </li>
	   <li>心电图:<br/>
	   <div class="Bigimage"><img src="img/图48.jpg" width="730px"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>心律平中毒<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/15.jpg"  alt=""/></div>
   </div>
 <div class="buttons"><div onclick="onEmergeOperate('C14')"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
