<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="spt/particular.css"/>
<title>药物过量中毒-异搏定</title>
</head>
<body>
<div class="content">
  <div class="image"><img src="img/护理要点.gif"  alt=""/></div>
  <div class="maintitle">【病例摘要】</div>
    <ul>
	  <li>现病史：患者女性，22岁，自服异搏定半瓶2h。患者因心情不好于2h前自服异搏定半瓶（40mg/片，30片/瓶）。服药后无神志改变，无头晕、呕吐、心悸。</li>
	  <li>既往史：既往体健。否认肝炎、结核等病史。否认药物、食物过敏史。</li>
	  <li>查体：T 36.2℃，P 50次/分，R 20次/分，BP 90/60mmHg，神志清楚，自动体位，查体合作。面色微紫，两颊散在数个紫色大小不等、不凸出皮肤、压之不褪色、不规则斑点。双肺呼吸音清，HR 50次/分，律齐，各瓣膜听诊区未及杂音。腹部无阳性体征。四肢厥冷，无花纹。</li>
    </ul>
  <div class="image"><img src="img/护理.gif"  alt=""/></div>
  <div class="maintitle">【辅助检查】</div>
    <ul>
	  <li>心电图:<br/>
	  <div class="Bigimage"><img src="img/图49.jpg"  alt=""/></div>
	  </li>
	</ul>
   <div class="image"></div>
   <div class="maintitle">【诊断】</div>
    <ul>
	  <li>异搏定中毒 I度房室传导阻滞 低血压 休克前期<br/>
	  </li>
	</ul>
	<div class="image"></div>
   <div class="maintitle">【事件】</div>
   <div class="Bigimage"><img src="img/16.jpg"  alt=""/></div>
   </div>
 <div class="buttons"><div onclick="app.fireEvent(15)"><img src="img/Opera.jpg"  alt=""/></div></div>
</body>
</html>
