
.hbox-title {
	-fx-background-color: rgb(235, 234, 220);
}

.hbox-content {
	-fx-background-color: rgb(255, 255, 255);
}

.hbox-buttons {
	-fx-background-color: rgb(235, 234, 220);
}

.label-title {
    -fx-font-size: 16;
    -fx-text-fill: rgb(0, 0, 0, 1.0);
    -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0, 0.6), 0, 0.0, 0, 1);
}

.text-content {
	-fx-font-size: 14;
    -fx-text-fill: rgb(0, 0, 0, 1.0);
}
